<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <script src="index.js"></script>
    <script src="style.js"></script>

    <style>
        body {
            background-image: url("assets/main-bg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
        }

        a {
            display: flex;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color: black;
        }

        .formLogin {
            width: 50%;
            margin: 7% auto;
            margin-left: 35%;
        }

        h2 {
            width: 60%;
            margin-left: 5%;
            color: black;
            text-transform: capitalize;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: large;
        }

        form {
            background-color: darkcyan;
            border: 7px solid purple;
            padding: 10px;
            width: 60%;
        }

        form label {
            margin-left: 5%;
            font-weight: bolder;
            font-size: larger;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }

        form input {
            width: 80%;
            margin-top: 3%;
            margin-left: 5%;
            margin-bottom: 5px;
            margin-right: 5%;
            padding: 5px;
        }

        div.btnform {
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 70%;
            margin-right: 10%;
        }

        a#create {
            width: 60%;
            margin-left: 5%;
            margin-right: 0%;
            color: blue;
            font-size: 90%;
            font-style: italic;
        }

        a#forgot {
            width: 26%;
            margin-left: 20px;
            margin-right: 10%;
            color: blue;
            font-size: 90%;
            font-style: italic;
        }

        div #submit {
            background-color: silver;
            border: 5px solid grey;
            border-radius: 5px;
            letter-spacing: 1px;
        }

        a#create:hover {
            color: blueviolet;
        }

        a#forgot:hover {
            color: blueviolet;
        }

        button#submit:hover {
            color: white;
            background-color: purple;
        }
    </style>
</head>

<body>
    <a href="/">
        <svg id="back" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor">
            <path d="M15.293 3.293 6.586 12l8.707 8.707 1.414-1.414L9.414 12l7.293-7.293-1.414-1.414z" /></svg>Home
    </a>
    <div class="formLogin">
        <h2>Please login here to play the Game</h2>
        <form method="post" action="/login">
            <label for="username" name="username">Username :</label>
            <br />
            <input type="text" name="username" placeholder="Enter Username" required />
            <a href="/register" id="create">Not yet a Member ? Just click here.</a>
            <br />
            <br />
            <label for="password" name="password">Password :</label>
            <br />
            <input type="password" name="password" placeholder="Enter Your Password" required />
            <br />
            <a href="/register" id="forgot">Forgot password</a>
            <div class="btnform">
                <button id="submit" type="submit" value="login">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>